.screen{
  display: flex;
  .main{
    @include main-color;
    width: 56%;
    height: 1000px;
    display: inline-block;
    box-shadow: white 10px;
    border-left: solid rgb(90, 130, 172) 1px;
    border-right: solid rgb(90, 130, 172) 1px;
    &-top{
      @include main-color;
      height: 100px;
      width: 100%;
      border-bottom: solid gray 1px;
      .text{
        font-size: 25px;
        text-decoration: none;
        color: white;
        margin: 0;
        padding: 24px;
        font-family: monospace;
      }
    }
    &-space{
      height: 15px;
      width: 100%;
      background-color: rgb(90, 130, 172);
    }
    &-reviews{
      
    }
  }
}