.Postpage{
  height: 100%;
  width: 80%;
  @include main-color;
  border-left: solid rgb(90, 130, 172) 1px;
  &-header{
    display: flex;
    height: 100px;
    width: 100%;
    border-bottom: solid rgb(90, 130, 172) 1px;
    .text2{
      font-size: 25px;
      text-decoration: none;
      color: white;
      margin: 0;
      padding: 24px;
      font-family: monospace;
    }
    &-search{
      height: 40px;
      width: 300px;
      background:none;
      border: none;
      padding-top: 24px;
      padding-left:400px;
      text-align : center ;
      #form3{
        position:relative;
        max-width:300px;	
        margin-bottom:20px;
        padding-left: 50px;
        }
      #sbox3{
        height:46px;
        width: 500px;
        padding:0 10px; 
        position:absolute; 
        left:0;
        top:0; 
        border-radius:25px;
        outline:0;
        background:#eee;
        }
        #sbtn3{
          height:50px;
          width:50px;	
          position:absolute; 
          left: 490px; 
          top:0;
          background:rgb(99, 99, 245);
          color:#fff;
          border:none;
          border-radius:0 25px 25px 0;
        }
        #sbtn3 .fa-search{
          font-size:20px;	
          position:absolute;
          top:30%;
          left:30%;	
        }
        #sbtn3:hover{
          color:#888;
        }
    }
  }
}