html{
  height: 100%;
  overflow: hidden;
  body{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
  }
}

 @import "mixin/form";
 @import "layout/top-header";
 @import "layout/top-footer";
 @import "font-awesome-sprockets";
 @import "font-awesome";
 @import "layout/index";
 @import "layout/post";
