
<div class="screen">
  <%= render partial: "layouts/top-header" %>
  <div class="main">
    <div class="main-top">
      <p class="text">Latest Dounut</p>
    </div>
    <div class="main-space">
    </div>
    <div class="main-reviews">
      <div class="main-reviews-contents">
        <div class="main-reviews-contents-soundcloud">
        </div>
        <div class="maindiv-reviews-contents-users">
          <div class="main-reviews-contents-users-icon">
            <div class="main-reviews-contents-users-icon-circle">
            </div>
          </div>
          <div class="main-reviews-contents-users-lists">
            <div class="main-reviews-contents-users-lists-box">
              <div class="main-reviews-contents-users-lists-box-name">
                <p>name</p>
              </div>
              <div class="main-reviews-contents-users-lists-box-account">
                <p>@ddd</p>
              </div>
              <div class="main-reviews-contents-users-lists-box-piriodo">
                <p>・</p>
              </div>
              <div class="main-reviews-contents-users-lists-box-time">
                <p>4m</p>
              </div>
            </div>
            <div class="main-reviews-contents-users-lists-pargraph">
              <p>仮置きですがこれは文章です。ハンバーグ<br>
              仮置きですがこれは文章です。ハンバーグ<br>
              ヒロシです。ハンバーグ</p>
            </div>
            <div class="main-reviews-contents-users-lists-reaction">
              <div class="main-reviews-contents-users-lists-reaction-comment">
                <i class="far fa-comment"></i>
              </div>
              <div class="main-reviews-contents-users-lists-reaction-good">
                <i class="fas fa-record-vinyl"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= render partial: "layouts/top-footer"%>
</div>