
<div class="screen">
  <%= render partial: "layouts/top-header" %>
  <div class="main">
    <div class="main-top">
      <p class="text">Latest Dounut</p>
    </div>
    <div class="main-space">
    </div>
    <div class="main-reviews">
      <div class="main-reviews-contents">
        <div class="main-reviews-contents-soundcloud">
          <img src="soundcloud.png" class="image">
        </div>
        <div class="main-reviews-contents-users">
          <div class="main-reviews-contents-users-icon">
            <div class="main-reviews-contents-users-icon-circle">
            </div>
          </div>
          <div class="main-reviews-contents-users-para">
            <div class="main-reviews-contents-users-para-p1">
              <p>仮置きですがこれは文章です。ハンバーグ<br>
              仮置きですがこれは文章です。ハンバーグ<br>
              ヒロシです。ハンバーグ</p>
            </div>
          </div>
        </div>
        <div class="main-reviews-contents-bottom">
          <div class="main-reviews-contents-bottom-reaction">
            <div class="main-reviews-contents-bottom-reaction-comment">
              <a href="#">
              <i class="far fa-comment"></i>
              </a>
            </div>
            <div class="main-reviews-contents-bottom-reaction-good">
              <a href="#">
              <i class="fas fa-record-vinyl"></i>
              </a>
            </div>
          </div>
          <div class="main-reviews-contents-bottom-box">
            <div class="main-reviews-contents-bottom-box-name">
              <p>name</p>
            </div>
            <div class="main-reviews-contents-bottom-box-account">
              <p>@ddd</p>
            </div>
            <div class="main-reviews-contents-bottom-box-piriodo">
              <p>・</p>
            </div>
            <div class="main-reviews-contents-bottom-box-time">
              <p>4m</p>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
  <%= render partial: "layouts/top-footer"%>
</div>