<%# <label>
        <div class="main-top-lists-navbar">
        <form class="main-top-lists-navbar-form" id="review_seach" action="/reviews/serch" accept-charset="UTF-8" method="get">
            <input name="utf8" type="hidden" value="✓">
            <input placeholder="Dounutsを検索" class="main-top-lists-navbar-form-serch" type="text" name="q[name_cont]" id="q_name_cont">
            <button name="button" type="submit" class="main-top-lists-navbar-form-button">  
              <i class="fas fa-search main-top-lists-navbar-form-button-icon"></i>
        </div>
        </label> %>


<div class="screen">
  <%= render partial: "layouts/top-header" %>
  <div class="main">
    <div class="main-top">
      <p class="text">Latest Dounut</p>
    </div>
    <div class="main-space">
    </div>
    <div class="main-reviews">
      <div class="main-reviews-contents">
        <div class="main-reviews-contents-soundcloud">
        </div>
        <div class="main-reviews-contents-users">
          <div class="main-reviews-contents-users-icon">
            <div class="main-reviews-contents-users-icon-circle">
            </div>
          </div>
          <div class="main-reviews-contents-users-box">
            <div class="main-reviews-contents-users-box-name">
              <p>name</p>
            </div>
            <div class="main-reviews-contents-users-box-account">
              <p>@ddd</p>
            </div>
            <div class="main-reviews-contents-users-box-piriodo">
              <p>・</p>
            </div>
            <div class="main-reviews-contents-users-box-time">
              <p>4m</p>
            </div>
          </div>
          <div class="main-reviews-contents-users-pargraph">
            <p>仮置きですがこれは文章です。ハンバーグ<br>
            仮置きですがこれは文章です。ハンバーグ<br>
            ヒロシです。ハンバーグ</p>
          </div>
          <div class="main-reviews-contents-users-reaction">
            <div class="main-reviews-contents-users-reaction-comment">
              <i class="far fa-comment"></i>
            </div>
            <div class="main-reviews-contents-users-reaction-good">
              <i class="fas fa-record-vinyl"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>