<div class="screen">
  <%= render partial: "layouts/top-header" %>
  <div class="Postpage">
    <header class="Postpage-header">
      <p class="text2">Choice 1 Dounuts</p>
    </header>
    <div class="Postpage-result">
    </div>
</div>  