<div class="screen">
  <%= render partial: "layouts/top-header" %>
  <div class="Postpage">
    <header class="Postpage-header">
      <p class="text2">Choice 1 Dounuts</p>
      <div class="Postpage-header-search">
      <form id="form3" action="自分のサイトURL" method="get">
      <input id="sbox3"  id="s" name="s" type="text" placeholder="Track search" />
      <button id="sbtn3" type="submit"><i class="fas fa-search"></i></button>
      </form>
    </div>
    </header>
    <div class="Postpage-result">
    </div>
</div>  