<div class="main">
  <div class="main-top">
    <div class="main-top-lists">
      <div class="main-top-lists-left">
      </div>
      <label>
        <div class="main-top-lists-navbar">
        </div>
      </label>
    </div>
  </div>
  <div class="main-reviws">
    <div class="main-reviews-content">
      <div class="main-reviews-content-soundcloud">
      </div>
      <div class="main-reviews-content-infomaitions">
        <div class="main-reviews-content-infomations-top">
          <div class="main-reviews-content-infomations-icon">
          </div>
          <div class="main-reviews-content-infomations-user">
            <div class="main-reviews-content-infomations-user-name">
            </div>
            <div class="main-reviews-content-infomations-user-acccount">
            </div>
            <div class="main-reviews-content-infomations-user-time">
            </div>
          </div>
        </div>
        <div class="main-reviews-content-infomations-low">
        </div>
      </div>
      <div class="main-reviews-content-reaction">
        <div class="main-reviews-content-reaction-comment">
        </div>
        <div class="main-reviews-content-reaction-choice">
        </div>
      </div>
    </div>
  </div>
</div>