%footer.footer
  .footer-search
    .footer-search-box
      %form#form4{:action => "自分のサイトURL", :method => "get"}
        %input#sbox4{:name => "s", :placeholder => "User search", :type => "text"}/
        %button#sbtn4{:type => "submit"}
          %i.fas.fa-search
  .footer-result
