%body
  %header.header
    .header-box
      .header-box-top
        %a.header-box-top-vinyl{:href => "#"}
          %i.fas.fa-compact-disc
      .header-box-lowbox
        %nav.header-box-lowbox-navs
          .header-box-lowbox-navs-home
            %a.home-button{:href => "#"}
              %i.fas.fa-home
              %span Home
          -# .header-box-lowbox-navs-profile
          -#   %a.profile-button{:href => "#"}
          -#     %i.fas.fa-id-card
          -#     %span Profile
          .header-box-lowbox-navs-user
            %a.user-button{:href => "#"}
              %i.fas.fa-id-card
              %span Log in
          .header-box-lowbox-navs-DM
            %a.DM-button{:href => "#"}
              %i.far.fa-envelope
              %span Message
          .header-box-lowbox-navs-review
            %a.review-button{:href => "posts"}
              %i.fab.fa-soundcloud
              %span Review
