<footer class="footer">
  <div class="footer-search">
    <label>
      <div class="footer-search-box">
        <form id="form4" action="自分のサイトURL" method="get">
        <input id="sbox4"  id="s" name="s" type="text" placeholder="User search" />
        <button id="sbtn4" type="submit"><i class="fas fa-search"></i></button>
        </form>
      </div>
    </label>
  </div>
  <div class="footer-result">
  </div>
</footer>

