<footer class="footer">
  <div class="footer-search">
    <label>
      <div class="footer-search-box">
        <form class="footer-search-box-Form" id="review_seach" action="/reviews/serch" accept-charset="UTF-8" method="get">
          <input name="utf8" type="hidden" value="✓">
          <input placeholder="Dounutsを検索" class="footer-search-Form-field" type="text" name="q[name_cont]" id="q_name_cont">
          <button name="button" type="submit" class="main-top-lists-navbar-form-button">  
          <i class="fas fa-search"></i>
        </form>
      </div>
    </label>
  </div>
  <div class="footer-result">
  </div>
</footer>

